<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles_login.css' %}">
  <title>Welcome</title>
</head>
<body>
  <div class="login-container">
    <div class="login-box">
      <h2>WELCOME TO E-LEARNING</h2>
      <br>
      <a href="{% url 'sesion' %}"><button type="submit" >Sign in</button></a>
      <a href="{% url 'register' %}"><button type="submit">Sign up</button></a>
    </div>
  </div>
</body>
</html>
