<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/Register/" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" name="nombre">
        <input type="text" name="apellido">
        <input type="email" name="correo" placeholder="correo">
        <select name="identidad" id="identidad">
            <option value="estudiante">Estudiante</option>
            <option value="maestro">Maestro</option>
        </select>
        <input type="text" name="contraseña">
        <button type="submit">Registrar</button>
    </form>
</body>
</html>